[tool.pdm.options]
config = [
    "python.use_venv",
    "true",
]

[tool.pdm.dev-dependencies]
dev = [
    "crackerjack>=0.7.19",
]

[tool.ruff]
line-length = 88
target-version = "py312"
fix = true
show-fixes = true
show-source = true

[tool.ruff.isort]
force-single-line = true

[tool.ruff.mccabe]
max-complexity = 10

[tool.ruff.pydocstyle]
convention = "google"

[tool.black]
target-version = [
    "py312",
]

[tool.creosote]
paths = [
    "jinja2_async_environment",
]
deps-file = "pyproject.toml"
exclude-deps = [
    "pdm",
    "pytest",
    "pre-commit",
    "autotyping",
    "pdm-bump",
]

[tool.refurb]
enable_all = true

[tool.bandit]
target = [
    "jinja2_async_environment",
]
skips = [
    "B403",
    "B603",
    "B113",
    "B404",
]

[tool.pyright]
verboseOutput = true
include = [
    "jinja2_async_environment",
]
extraPaths = [
    "__pypackages__/3.12/lib/",
]
typeCheckingMode = "strict"
reportMissingTypeStubs = false
reportOptionalMemberAccess = false
reportOptionalCall = false
reportUnknownMemberType = false
reportUnknownVariableType = false
reportUnknownArgumentType = false
reportPrivateUsage = "warning"
pythonVersion = "3.12"
pythonPlatform = "Darwin"

[tool.codespell]
skip = "*/data/*"
quiet-level = 3
ignore-words-list = "crate,uptodate"

[project]
name = "jinja2-async-environment"
version = "0.4.3"
description = ""
dependencies = [
    "jinja2>=3.1.2",
    "redis!=5.0.1,>=5.0.0",
]
requires-python = ">=3.12"
readme = "README.md"
authors = [
    { name = "lesleslie", email = "les@wedgwoodwebworks.com" },
]
classifiers = [
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.12",
    "Topic :: Internet :: WWW/HTTP :: Dynamic Content",
    "Operating System :: OS Independent",
    "Framework :: FastAPI",
    "Framework :: AsyncIO",
    "Typing :: Typed",
    "License :: OSI Approved :: BSD License",
    "Development Status :: 4 - Beta",
]

[project.license]
text = "BSD-3-Clause"

[build-system]
requires = [
    "pdm-backend",
]
build-backend = "pdm.backend"
