[tool.pdm.dev-dependencies]
dev = [
    "pre-commit>=3.3.3",
    "types-redis>=4.6.0.4",
    "crackerjack>=0.3.14",
]

[tool.ruff]
line-length = 88
target-version = "py311"
fix = true
show-fixes = true
show-source = true

[tool.ruff.isort]
force-single-line = true

[tool.ruff.mccabe]
max-complexity = 10

[tool.ruff.pydocstyle]
convention = "google"

[tool.black]
target-version = [
    "py311",
]

[tool.refurb]
enable_all = true

[tool.pyanalyze]
paths = [
    "jinja2_async_environment",
]

[tool.pyright]
include = [
    "jinja2_async_environment",
]
reportMissingImports = true
reportMissingTypeStubs = false
pythonVersion = "3.11"

[project]
name = "jinja2-async-environment"
version = "0.1.10"
description = ""
dependencies = [
    "jinja2>=3.1.2",
    "redis>=5.0.0",
]
requires-python = ">=3.11"
readme = "README.md"
authors = [
    { name = "lesleslie", email = "les@wedgwoodwebworks.com" },
]

[project.license]
text = "BSD-3-Clause"

[build-system]
requires = [
    "pdm-backend",
]
build-backend = "pdm.backend"
