[tool.pdm.options]
config = [
    "python.use_venv",
    "true",
]

[tool.pdm.dev-dependencies]
dev = [
    "types-redis>=4.6.0.7",
    "crackerjack>=0.6.19",
]

[tool.ruff]
line-length = 88
target-version = "py311"
fix = true
show-fixes = true
show-source = true

[tool.ruff.isort]
force-single-line = true

[tool.ruff.mccabe]
max-complexity = 10

[tool.ruff.pydocstyle]
convention = "google"

[tool.black]
target-version = [
    "py311",
]

[tool.creosote]
paths = [
    "jinja2_async_environment",
]
deps-file = "pyproject.toml"
exclude-deps = [
    "pdm-bump",
    "autotyping",
    "python-ulid",
    "pre-commit",
    "pytest",
    "libsass",
    "starlette-decorouter",
]

[tool.refurb]
enable_all = true

[tool.bandit]
target = [
    "jinja2_async_environment",
]
skips = [
    "B113",
    "B403",
    "B404",
    "B603",
]

[tool.pyright]
include = [
    "jinja2_async_environment",
]
typeCheckingMode = "strict"
reportMissingTypeStubs = false
reportOptionalMemberAccess = false
reportOptionalCall = false
reportUnknownMemberType = false
reportUnknownVariableType = false
reportUnknownArgumentType = false
reportPrivateUsage = "warning"
pythonVersion = "3.11"

[project]
name = "jinja2-async-environment"
version = "0.2.5"
description = ""
dependencies = [
    "jinja2>=3.1.2",
    "redis>=5.0.1",
]
requires-python = ">=3.11"
readme = "README.md"
authors = [
    { name = "lesleslie", email = "les@wedgwoodwebworks.com" },
]

[project.license]
text = "BSD-3-Clause"

[build-system]
requires = [
    "pdm-backend",
]
build-backend = "pdm.backend"
